#ids{
    width: 80%;
    display: inline-block;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 200px;
}
#ids div{
    width: 100%;
    text-align: left;
}

.content{
    padding-top: 100px;
}
.content img{
    width: 60%;
}
.content div{
    text-align: left;
    border-radius: 30px;
    border:solid 5px rgba(255, 100,100, 0.7);
    padding-top:50px;
    padding-bottom: 50px;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 50px;
    padding-left: 1.5em;
}