.top{
    background-color: aliceblue;
    width: 100%;
}
.toptag{
    width:50%;
    color: brown;
    text-align: center;
}


#prof{
    border: 15vh double violet;
}


h2{ color:skyblue;
    font-family:sans-serif;
    font-size:10vh;
    font-weight:normal;
    text-align:left; 

}
h3{
    color:black;
    font-family:sans-serif;
    font-size:7.5vh;
    font-weight:normal;
    text-align:left; 

}
li{ color:black;
    font-family:sans-serif;
    font-size:3vh;
    font-weight:normal;
    text-align:left; 

}
h5{ color:gray;
}
img.needle {
    width: 50%; height:auto;
  }
img#block{
    width: 50%; height: auto;
}
  body {background: url(img1.png);
    background-size:contain;
    background-repeat: no-repeat;}

h1{
    color:white;
    font-family:sans-serif;
    font-size:30vh;
    font-weight:bold;
    text-align:center; 
    padding-top: 20%;
    padding-bottom: 20%;

}
h6{
    color: lightseagreen;
    font-size:3vh;
    font-weight:bold;
}
#background{
    padding-bottom: 50%;
}