

#prof{
    border: 20px double violet;
}


h2{ color:skyblue;
    font-family:sans-serif;
    font-size:40px;
    font-weight:normal;
    text-align:left; 

}
h3{
    color:black;
    font-family:sans-serif;
    font-size:30px;
    font-weight:normal;
    text-align:left; 

}
li{ color:black;
    font-family:sans-serif;
    font-size:25px;
    font-weight:normal;
    text-align:left; 

}
h5{ color:gray;
}
img {
    display: none;
  }
  body {background: url(img1.png);
    background-size:contain;
    background-repeat: no-repeat;}

span{
    color:white;
    font-family:sans-serif;
    font-size:90px;
    font-weight:bold;
    text-align:center; 

}